body {
    /* max-width: 80%; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: rgb(245, 245, 245);
    background-color: rgb(38, 38, 38);
    margin: 0px;
}

header {
    margin: 0px;
    width: 100%;
    background-color: rgb(32, 32, 32);
}

main {
    max-width: 80%;
    margin: 0% auto;
}

nav {
    padding: 20px 0px;
    text-align: center;

    color: rgb(245, 245, 245);
    font-size: 1.1em;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;    
}

nav ul li {
    display: inline-block;
    margin: 0px 15px;
}

/* nav .separator {
    padding: 0px 0px 100px 0px;
} */

nav button {
    border: none;
    outline: none;
    background-color: inherit;
    height: 32px;

    color: rgb(245, 245, 245);
    font-size: 1.1em;
}

nav button:hover {
    color: rgb(49, 105, 209);
    cursor: pointer;
    text-decoration: underline;
}

nav button .btnActive {
    color: rgb(49, 105, 209);
    font-weight: bold;
}

section {
    margin: 10px 0px;
    padding: 10px;
    background-color: rgb(48, 48, 48);
}

/* .tabs section{
    display: none;
} */

section .tabActive {
    display: block;
}

h1 {
    font-size: 2em;
    color: rgb(49, 150, 209);
    margin: 0px;
    padding: 10px;

    text-align: center;
}

h2 {
    font-size: 1.4em;
    color: #57b0e4;
}

p {
    margin: 16px 0px;
}

/* button {
    background-color: rgb(80, 80, 80);
    color: rgb(245, 245, 245);
    font-size: 0.7em;
}

button:hover {
    background-color: rgb(100, 100, 100);
} */