body {
    max-width: 80%;
    margin: 0% auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: rgb(245, 245, 245);
    background-color: rgb(38, 38, 38);
}

main {
    width: 480px;
    padding: 25px;
    background-color: rgb(48, 48, 48);
    border: 2px solid rgb(24, 24, 24);
    border-radius: 12px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2em;
    color: hsl(202, 63%, 51%);
}

h2 {
    font-size: 1.4em;
    color: hsl(202, 72%, 62%);
}

h3 {
    margin: 10px 0px;
    font-size: 1.2em;
    color: hsl(202, 81%, 74%);
}

.loginBox span {
    display: block;
    margin: 5px 0px 15px 0px;
    color: hsl(0, 60%, 50%);
}

.loginBox label {
    display: block;
    margin: 5px 0px;    
}

.loginBox input {
    display: block;
    margin: 5px 0px;
}

button {
    background-color: rgb(80, 80, 80);
    color: rgb(245, 245, 245);
    font-size: 0.7em;
}

button:hover {
    background-color: rgb(100, 100, 100);
}

input {
    font-size: 0.7em;
    width: 180px;
}