html,body,.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: rgb(245, 245, 245);
    background-color: rgb(38, 38, 38) !important;
}

h1 {
    font-size: 2em;
    font-weight: bold !important;
    color: hsl(202, 63%, 51%);
}

input.form-control {
    color: rgb(245, 245, 245) !important;
    background-color: rgb(38, 38, 38) !important;
    border-color: hsl(216, 60%, 50%) !important;
}